.button{
  opacity: 0.8;
}

.button:hover{
  opacity: 0.9;
}

.button:active{
  opacity: 1;
}

.boost{
  height: 150px;
  width: 150px;
}

.boost-wrapper{
  display: flex;
   flex-direction: row;
   flex: 1;
   flex-wrap: wrap
}

.boost-holder{
  width: 170px;
  height: 200px;
  background: #ebff18;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.auto-boost{
  background: darkred;
  width: 170px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}